
/* Float navigation */
.app {
    position: relative;
    /* overflow-y: scroll; */
}

.float-navigation{
    border-radius: 6px;
    width: 45px;
    position: fixed;
    right: 20px;
    bottom: var(--header-height);
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    height: 281px;
}

.float-navigation__content{
    background-color: var(--primary-color);
    border-radius: 4px;
    position: fixed;
    right: 20px;
    bottom: var(--header-height);
    display: flex;
    flex-direction: column;
    text-align: center;
    /* z-index: 1; */
    box-shadow: var(--box-shadow);
}

.float-navigation__logo{
    position: absolute;
    top: -12%;
    right: 0;
    transition: all linear .3s;
}

.float-navigation__logo:hover {
    transform: translateY(-26%);
}

.float-navigation__logo img{
    --img-size: 49px;
    width: var(--img-size);
    height: var(--img-size);
}

.float-navigation__list{
    list-style: none;
}
.float-navigation-item{
    border-bottom: 1px solid #323232;
}

.float-navigation-item-link{
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 2.6rem;
    color: var(--text-color);
}

.header {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    position: fixed;
    z-index: 10;
}

.header-content {
    padding: 0 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header__navbar-logo {
    display: flex;
    margin-right: 40px;
}
.header__navbar-logo-img{
    width: 126px;
    height: 36px;
   font-size: 3rem;
   position: relative;
   top: 2px;
}
.header__navbar-item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 14px;
    position: relative;
    cursor: pointer;
}

.header__navbar-dowload {
    font-size: 2rem;
    color: var(--text-color);
    position: relative;
    padding: 6px;
}

.header__navbar-dowload:hover ~.header__navbar-dowload-list{
    display: flex;
}

.header__navbar-dowload-list{
    width: 280px;
    background-color: var(--primary-color);
    position: absolute;
    top: 44px;
    text-align: center;
    flex-direction: column;
}

.header__navbar-dowload-title{
    padding: 17px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
}

.header__navbar-dowload-ggplay,
.header__navbar-dowload-app{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
    width: 100%;
    padding: 6px 0;
    transition: all linear .2s;
    border-radius: 4px;
}

.header__navbar-dowload-ggplay:hover,
.header__navbar-dowload-app:hover {
    background-color: var(--border-color);
    color: #fff;
    cursor: pointer;
}

.header__navbar-dowload-app i {
    font-size: 25px;
    padding-right: 17px;
    margin-left: -15px;
}

.header__navbar-dowload-ggplay i {
    font-size: 21px;
    padding-right: 10px;
}

.header__navbar-dowload-qr {
    margin-top: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    padding-bottom: 14px;
}

.header__navbar-qr-img{
    height: 160px;
    padding-bottom: 4px;
}

.header__navbar-item--active .header__navbar-active {
    display: block;
}

.header__navbar-active {
    position: absolute;
    height: 2px;
    width: 85%;
    left: 7.5%;
    bottom: 0;
    background-color: #FFF;
    display: none;
}

.header__navbar-item-link{
    color: #a9a9a9;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 4rem;
    position: relative;
}

.header__navbar-item:hover.header__navbar-item:nth-child(4):after {
    display: block;
}
.header__navbar-item:nth-child(4):after {
    content: "";
    width: 100px;
    position: absolute;
    bottom: -11px;
    right: -18px;
    height: 17px;
    cursor: default;
    display: none;
}

.header__navbar-item:hover #down-arrow {
    fill: #fff;
}

.header__navbar-option:hover {
    color: #FFF;
    cursor: pointer;
}

.option-input:checked ~.has-sub-list {
    display: block;
    --growth-from: 0.6;
    --growth-to: 1;
    animation: growth ease-in-out 3s;
}

.header__navbar-item:hover,
.header__navbar-item:hover .header__navbar-item-link{
    color: #FFF;
}

.header__navbar-item:hover .header__category {
    display: block;
}
.header__navbar-item:hover .header__navbar-dowload-list{
    display: flex;
}

.header__navbar-item:hover .header__navbar-category-icon {
    transform: rotate(180deg);
    cursor: pointer;
}

.header__navbar-option-wrap {
    color: var(--text-color);
    font-size: 1.6rem;
    width: 10px;
    border-radius: 6px;
}
.header__navbar-search {
    background-color: var(--black-color);
    border-radius: 15px;
    height: 24px;
}

.header__navbar-live {
    font-size: 1.4rem;
    color: var(--text-color);
}


.header__navbar-live-img{
    padding-right: 2px;
    height: 26px;
}

.header__navbar-recharge {
    font-size: 1.2rem;
    color: #fff;
    padding: 0 12px;
    border-radius: 14px;
    border: 1px solid #fff;
}

.header__navbar-reccharge-icon,
.header__navbar-reccharge-icon img{
    height: 22px;
}

.header__navbar-category-icon {
    padding: 0 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    transition: all linear 0.2s;
    transform: translateY(-1px);
}

.headear__navbar-search-input input {
    background-color: var(--black-color);
}

.header__navbar-search-form {
    display: flex;
    color: #545454;
    border-radius: 15px;
    justify-content: center;
    padding: 0 13px;
    align-items: center;
}

.header__navbar-search-icon {
    font-size: 1.4rem;
    color: var(--text-color);
    padding-right: 4px;
}

.header__navbar-option {
    color: var(--text-color);
    padding: 0 8px;
    font-size: 1.4rem;
    height: 40px;
    line-height: 40px;
}

.header__navbar-input{
    background-color: var(--black-color);
    color: #dadada;
    outline: none;
    font-size: 1.2rem;
    text-decoration: none;
    width: 110px;
    line-height: 24px;
}


.header__navbar-button {
    height: 32px;
    /* width: 80px; */
    line-height: 30px;
    border-radius: 4px;
    margin: 0 4px;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 14px;
    border: 1px solid #fff;
    transition: border ease-in 0.2s;
}

.header__navbar-button:hover {
    background-color: var(--blue-color);
    cursor: pointer;
    border-color: var(--blue-color);
}

/* ---------------------Begin header category------------------ */

.header__category {
    position: absolute;
    width: 440px;
    background-color: #1a1a1a;
    top: calc(var(--header-height) - 14px);
    border-radius: 3px;
    border: 0.5px solid var(--black-color);
    background-color: #1a1a1a;
    display: none;
}
@keyframes growth {
    form {
        opacity: 0.3;
        transform: scale(var(--growth-from));
    }
    to {
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}
/* 
@keyframes fadeIn {
    from {
        transform: translate(13%, -22%) scale(0.6);
    }
    to {
     transform: translate(0) scale(1);
    }
}
@keyframes fadeOut {
  
    to {
        transform: translate(13%, -22%) scale(0.6);

    }
} */

.header__category::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 15px 14px;
    top: -25px;
    right: 46%;
    border-color: transparent transparent var(--primary-color) transparent;
}

.header__category-heading {
    font-size: 1.4rem;
    color: #fff;
    padding: 5px 20px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
}
.header__category-list{
    padding: 0px 20px 20px 20px;
}

.header__category-item{
    width: 120px;
    height: 80px;
    margin-bottom: 10px;
}

.header__category-item-link {
    display: block;
    height: 80px;
    background-position: top;
    background-size: cover;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.header__category-item-title{
    position: absolute;
    bottom: 0;
    color: #fff;
    background: linear-gradient(270deg,transparent,#000);
    font-size: 1.3rem;
    padding-left: 4px;
    overflow: hidden;
    width: 120px;
}
.header__category-button-wrap {
    margin-top: 12px;
    width: 100%;
    height: 24px;
    border-radius: 6px;
}
.header__category-button {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}
.header__category-button-icon {
    margin-left: 4px;
    position: relative;
    transform: translateY(25%);
    font-size: 1rem;
}

/* ---------------------End header category-------------------- */
/* ---------------------Begin header option-------------------- */
.header__navbar-option-icon {
    padding: 5px 0;
}

.header__navbar-option{
    position: relative;
    font-size: 1.6rem;
}

.header__navbar-option-wrap{
    width: 220px;
    background-color: var(--primary-color);
    position: absolute;
    top: calc(100% + 4px);
    right: -2px;
    border: 6px;
    transform-origin: top right;
    display: block;
}

.header__navbar-option-wrap::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 17px 15px;
    top: -25px;
    right: 4px;
    border-color: transparent transparent var(--primary-color) transparent;
}


.header__option-list{
    list-style: none;
    padding: 10px;
    cursor: default;
}
.header__option-item{
    display: flex;
    justify-content: space-between;
}

.header__option-item:hover {
    cursor: pointer;
    background-color: var(--blue-color);
    border-radius: 4px;
}

.header__option-item:hover .header__option-item-label {
    color: #fff;
}

.header__option-item-title{
    /* padding: 0 ; */
    font-size: 1.4rem;
    color: #fff;
    display: flex;
    justify-content: center;
}
.header__option-item-label{
    font-size: 1.8rem;
    color: var(--text-color);
    padding-right: 10px;
    padding-left: 10px;
}

.header__option-sub {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8px;
}
.header__option-icon img {
    display: block;
}
.header__option-icon i {
    display: block;
    color: #fff;
}

.header__option-sub-icon-switch {
    font-size: 2.6rem;
}
/* ----------------End header option-------------- */

/*============================Body======================== */
/* -------------Begin body heading------------ */
.body {
    padding-top: var(--header-height);
    background-color: var(--background-color);
}

.body__heading {
    height: 740px;
}

.body__game {
    margin-bottom: 50px;
}

.body__game-item.slick-slide{
    width: 218px !important;
}

.header__body-background {
    display: block;
    width: 100%;
    position: relative;
    height: 749px;
    background-position: center;
    background-repeat: no-repeat;
}

.body__content {
    width: 100%;
    padding: 30px 0px 80px 30px;
    margin-top: 0;
    max-width: 1800px;
}
.header__body-img {
    height: 560px;
    width: 100%;
    cursor: default;
}
/* header body video */
.body__poster{
    width: 1190px;
    height: 709px;
    position: absolute;
    top: 0;
}

.body__poster-video {
    border-radius: 6px;
}

.body__poster-video-nav{
    background-color: #000;
    cursor: default;
    border-radius: 4px;
}

/* ---------------------End body heading-------------------- */
/* ---------------------Begin body content-------------------- */

.body__navbar-title-wrap {
    display: flex;
    margin: 2px;
}

.body__navbar.body-nav--has {
    margin: 10px;
}

.body__navbar-title{
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding: 10px; */
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.body__navbar-title:hover .body__title-icon {
    transform: translate(65%, 4%);
}

.body__navbar-title:hover .body__navbar-title-text{
    color: #fff;
    opacity: 0.7;
}
.body__navbar-title-option{
    display: flex;
    padding-left: 40px;
    color: var(--text-color);
    font-size: 1.4rem;
    /* margin-right: 30px; */
}

.body__title-icon {
    padding-left: 4px;
    font-size: 1.2rem;
    transform: translateY(4%);
    transition: all 0.3s;
}

.body__navbar-list{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-left: 30px;
}
.body__navbar-item:hover,
.body__navbar-item:hover .body__navbar-item-link{
    border-color: var(--blue-color);
    color: var(--blue-color);
    transition: linear .3s;
}
.body__navbar-item{
    display: flex;
    margin: auto;
    border: 1px solid var(--black-color);
    border-radius: 4px;
    /* margin: 10px; */
    margin-right: 10px;
    transition: linear .3s;
    background-color: var(--primary-color);
}
.body__navbar-item-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
    transition: linear .3s;
}
/* ---------------------End body content-------------------- */
/* ---------------------Begin body event-------------------- */
.body__event{
    margin-bottom: 10px
}

.body__event-heading-link-wrap {
    line-height: 36px;
}

.body__event-pagination {
    position: absolute;
    top: -46px;
    right: 100%;
}

.body__event-heading-link{
    text-decoration: none;
}
.body__event-text{
    color: #fff;
    font-size: 3rem;
    display: inline-block;
}

.body__event-load {
    position: relative;
}

.body__event-load-img{
    width: 100%;
    height: 296px;
    border-radius: 8px;
}

.body__event-broad{
    margin-bottom: 4px;
}


.body__event-broad-img{
    height: 138px;
    margin-bottom: 11px;
    border-radius: 8px;
}

.body__event-bar {
    margin: 0 !important;
}

/* -----Begin body event cart ------ */

.body__img-info{
    background-size: 20%;
}
.body__img-info-link{
    display: block;
    height: 200px;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-size: cover;
    background-position-x: 50%;
}

/* --------------Begin body overlay-------------- */
.body__img-info-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .2s;
}

.body__img-info-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.body__img-info-overlay:hover .body__img-overlay-pause {
    font-size: 4.4rem;
    opacity: 1;
}

.body__img-overlay-pause {
    opacity: 0;
    display: inline-block;
    color: var(--pause-color);
    font-size: 7rem;
    box-shadow: 0px 0px 25px 10px rgba(245, 224, 159, 0.4);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}
/* --------------End body overlay-------------- */
.event-info {
    width: 100% !important;
}

.body__event-info-header {
    position: absolute;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.body__event-info-tag {
    color: #fff;
    position: absolute;
    padding: 4px 6px;
    background-color: var(--blue-color);
    border-radius: 4px;
    top: 4%;
    left: 2%;
}

.body__event-info-cart{
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 4px;
}


.body__event-cart-time{
    padding: 6px 0;
    color: var(--text-color);
    font-size: 1.2rem;
}



.body__event-cart-button{
    padding: 2px 10px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    color: var(--border-color);
    margin: 6px 0;
    cursor: pointer
}
.body__event-cart-button-status{

}
/* -----End body event cart ------ */
/* -----Begin slick-dot event  ------ */

.slick-dot{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.slick-dot__list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.slick-dot__item{
    --slick-dot-size: 8px;
    width: var(--slick-dot-size);
    height: var(--slick-dot-size);
    border-radius: 50%;
    background-color: var(--text-color);
    margin: 0 5px;
    /* transition: .2s; */
    line-height: 30px;
}


.slick-dot__item--active {
    width: 24px;
    border-radius: 6px;
    background-color: #fff;
}
/* 
.slick-dot__item:hover{
    cursor: pointer;
    width: 24px;
    border-radius: 6px;
    background-color: #fff;
} */

.slick-dot__item:hover ~ .slick-dot__item--active{
    width: 10px;
}


/* -----End slick-dot event  ------ */


/* Begin streamer-cart */
.body__streamer {
    margin-bottom: 30px;
}

.body__img-info-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.body__stream-info-tag {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 6px;
}

.body__stream-cart-info{
    display: flex;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 4px;
}
.body__event-info-cart{

}
.body__stream-cart-avatar {
    padding: 10px;
}

.body__stream-cart-avatar img{
    --avatar-size: 60px;
    border-radius: 50%;
    width: var(--avatar-size);
    height: var(--avatar-size);
}

.body__stream-info-name-link:hover {
    color: var(--blue-color);
}

.body__stream-info-name-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

.body__stream-info-as{
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 1.4rem;
    padding: 6px 0;
}



.body__stream-info-label{
    display: flex;
    align-items: baseline;
}
.cart__info-category.cart__title-category p{
    background-color: #323232;
    padding: 2px 6px;
    margin-right: 10px;
    display: inline-block;
}

.body__stream-cart-content {
    padding-top: 12px;
}

.cart__info-view {
    display: flex;
    align-items: center;
    margin-left: 60px;
    color:  rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
    position: absolute;
    right: 20px;
    cursor: default;
}

.cart__view-icon {
    font-size: 1.2rem;
    padding-right: 4px;
}
/* ---------------------End body event-------------------- */
/* ---------------------Begin body team-------------------- */

.body__team {
    height: 366px;
    margin-top: 30px;
}

.body__team-iteam-wrap{
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    height: 260px;
}

.body__team-item{
    display: flex;
    width: 100%;
    position: relative;
}
.body__team-item-img{
    position: absolute;
    width: 320px;
    transform: skew(-8deg) translateX(-20px);
    border-radius: 6px;
    z-index: 1;
    overflow: hidden;
    height: 260px;
}

.body__team-item-img img {
    transform: skew(8deg) translateX(20px);
    border-radius: 8px;
    height: 260px;
    cursor: pointer;
}
.body__team-item-note{
    width: 100%;
    height: 220px;
    background-color: var(--primary-color);
    font-size: 1.3rem;
    color: hsla(0,0%,100%,.6);
    border-radius: 8px;
    padding-left: 333px;
    padding-top: 20px;
    transform: translateY(20px);
    cursor: pointer;
}

.body__team-item-label{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    width: 350px;
    height: 90px;
    transform: skew(-8deg);
    overflow: hidden;
    border-radius: 8px;
}

.body__team-label-wrap {
    transform: skew(8deg) translateX(-10px);
    display: flex;
    width: 280px;
    background-color: rgba(50,50,50,.8);
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
}

.body__team-label-text {
    color: #fff;
    padding-left: 12px;
    width: 210px;
    
    /* cách 2 để hiện dấu "..."*/
    /*--------*/
    font-size: 3rem;
    line-height: 3rem;
    overflow: hidden;
    /* kết hợp 3 cái để giới hạn số lượng dòng xuất hiện*/
    display: -webkit-box;
    /* xét hướng dòng theo hướng nằm dọc để limit */
    -webkit-box-orient: vertical;
    /*chỉ định dấu "..." xuất hiện ở dòng thứ 1 */
    -webkit-line-clamp: 1;
}

.body__team-label-logo{
    --label-logo-size: 80px;
    width: var(--label-logo-size);
    height: var(--label-logo-size);
    margin-left: 30px;
    margin-top: 5px;
}
.ti-angle-right{

}
.body__team-label-icon{ 
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 40px;
    padding-left: 10px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #505050;
    display: flex;
    align-items: center;
    height: 90px;
    position: absolute;
    right: 6px;
}



/* ---------------------End body event-------------------- */

/*--------------------- Footer---------------------------- */

.footer{
    background-color: var(--primary-color);
    height: 170px;
}

.footer__media-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__media-item{
    padding: 40px 20px 20px;
}   

.footer__media-item-icon{
    font-size: 4rem;
    color: #fff;
}

.footer__media-item-icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.footer__contact{
    margin-top: 10px;
}

.footer__contact-list{
    display: flex;
    justify-content: center;
    list-style: none;

}


.footer__contact-item {
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #fff;
    display: flex;
    align-items: center;
}

.footer__contact-item-content:hover {
    color: var(--blue-color);
    cursor: pointer;
}

.footer__contact-item-content{
    margin: 0px 40px;
    font-size: 1.4rem;
    color: #fff;

}
.footer__copyright{
    margin-top: 20px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: center;
}

/* ------------Body poster------- */
.header__body-background{
    display: flex;
    justify-content: center;
    height: 749px;
    background-size: 100% 100%;
}

.body__poster{
    width: 1200px;
    transform: translateY(20px);
}

.body__poster-video{
    background-color: #070606;
    width: 1190px;
    height: 710px;
    position: relative;
}
.body__poster-video-link{
    display: block ;
}

.body__poster-video-nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    align-items: center;
}
.body__poster-video-control{
    display: flex;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.body__poster-control-quality {
    cursor: default;
    background-color: #4d4b49;
    position: relative;
}

.body__poster-control-quality:hover .body__quality-list {
    display: block;
}

.body__quality-list{
    list-style: none;
    font-size: 1.2rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 120px;
    bottom: 30px;
    left: -37%;
    border-radius: 6px;
    display: none;
}

.body__quality-list::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    bottom: -17px;
    right: 42%;
    border-color: rgba(0, 0, 0, 0.6)  transparent transparent transparent; 
}

.body__quality-item {
    padding: 10px 20px;
    border-bottom:1px solid var(--border-color) ;
    font-size: 1.4rem;
    cursor: pointer;
    
}

.body__quality-item:hover {
    color: #ffc000;
}

.body__poster-control-quality:after {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px
}

.body__poster-control-move {
    background-color: #ffc000;
    margin:0 20px;
}

.body__poster-control-move:hover {
    opacity: 0.9;
}

.body__poster-control-icon{
    padding: 0px 10px;
    text-align: center;
    display: flex;
    margin-left: 20px;
}

.body__poster-control-text {
    margin: auto;
    font-size: 1.2rem;
    padding: 0 10px;
    position: relative;
}

.body__poster-label-list{
    list-style: none;
}


.body__poster-item-img{
    width: 100%;
    height: 114px;
    border-radius: 4px;
}
.body__poster-label-item:hover .o-vd{
    background-color: rgba(0, 0, 0, 0);
    
}

.body__poster-label-item:hover .o-vd .room-name {
    color: #fffaf7;
    background-color: rgba(0, 0, 0, 0.8);
}


/*------------------------- Modal Login----------------------- */

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: none;
}
.form{
    width: 572px;
    height: 383px;
    margin:auto;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 8px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.form__close{
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.close-madal-form:checked ~ .overlay{
    display: flex;
}

.form__body {
    display: flex;
}

.form__header.ct{
    height: 48px;
    justify-content: flex-start;
    
}

.form__header {
    color: var(--form-text-color);
    font-size: 1.4rem;
    border-bottom: 1px solid #323232;
}

.form__header-logo {
    padding:  20px;
    
}
.current-feature {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.form__header-logo img{
    height: 28px;
}
.form__header-feature{
    margin: 0 13px;
    padding:  14px 0;
}

.form__body-left {
    margin: 10px 42px;
    width: 280px;
    height: 100%;
}

.form__body-title{
    font-size: 1.2rem;
    color: var(--form-text-color);
    margin: 14px 0 10px 0;

}
.form__body-input{
    height: 40px;
    background-color: var(--input-bg-color);
    display: flex;
    margin-bottom: 20px;
    border-radius: 4px;
}
.form__body-phone-area{
    font-size: 1.4rem;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
}

.line {
    width: 1px;
    height: 28px;
    background-color: #323232;
    margin: 6px 0;
}

.line-full-h.line {
    height: auto;
    width: 1px;
}

.form {
    min-height: 374px;
    min-width: 500px;
    width: 572px;
    height: 380px;
}

.input-form {
    height: 40px;
    padding: 11px 0 11px 10px;
    background-color: var(--input-bg-color);
    outline: none;
    color: var(--text-color);
    font-size: 1.2rem;
    flex: 1;
    border-radius: 4px;
    /* margin: 20px 0; */
    margin-bottom: 20px;

}

.form__body-title-pass.form__body-title {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 30px;
}



.form__body-input-sdt.input-form{
    margin: 0;
}
.form__body-code{
    display: flex;
}

.form__body-input-code {
    width: 137px;
}

.form__body-pass.input-form{
    padding: 0;
    margin: 0;
}
.form__body-pass.input-form i {
    padding: 0 10px;
}
.form__body-input-pass.input-form{
    margin: 0;
}

.form__body-btn.btn-log {
    margin: 0;
}

.form__body-right {
    margin: 10px 14px;
    width: 167px;
    flex: 1;
    height: 100%;
}

.form__body-app-item.ct {
    border-radius: 16px;
    border: 1px solid #505050;
    color: #fff;
    justify-content: left;
    margin-bottom: 17px;
    height: 28px;
    cursor: pointer;
    width: 100%;
}

.form__body-app-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.form__body-app-item img{
    height: 20px;
    padding: 2px 10px;
}

.line-h {
    width: 100%;
    height: 1px;
    background-color: #505050;
}

.form__body-more {
    margin: 6px 0 40px 0;
    flex-direction: column;
}

.form__body-title-icon {
    padding: 0px 6px;
}

.form__body-agree {
    font-size: 1.1rem;
    color: var(--form-text-color);
}

.form__body-agree-link {
    color: #6c47ff;
}